@tailwind base;
@tailwind components;
@tailwind utilities;



.bg_tours {
    background-image: url('https://media.istockphoto.com/id/1399202334/photo/mature-hiking-couple-relax-at-viewpoint.webp?b=1&s=170667a&w=0&k=20&c=U6iA8R_SyBOvCZ1RB1eygEbuGOe9SDgdCTf8NNEhZho=');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    height: 50vh;
    display: flex;
    justify-items: start!;
    background-attachment: fixed;
}

/* Assuming this is your CSS */
.bg_destination {
    background-image: url('https://images.unsplash.com/photo-1473442240418-452f03b7ae40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVzdGluYXRpb258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60');
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bg_about {
    background-image: url('https://media.istockphoto.com/id/1219111671/photo/3d-car-and-luggage-minimal-summer-and-travel-concept.webp?b=1&s=170667a&w=0&k=20&c=hwnpk4x8A4lCWgyjSEHiBtodQ2S8dD7N4_r_VGjLHXk=');
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
